<mat-toolbar>
    <mat-toolbar-row>
        <span><img class="logo" src="assets/images/logo.png"></span>
        <span style="margin:20px">{{title}}</span>
        <span class="example-spacer"></span>
        <a class="example-icon" mat-button color="primary" routerLink="/home" matTooltip="Home">
            <mat-icon>home</mat-icon>
        </a>
        <a class="example-icon" mat-button color="primary" routerLink="/users" matTooltip="Users">
            <mat-icon>perm_identity</mat-icon>
        </a>
    </mat-toolbar-row>
</mat-toolbar>